In [21]:
import pymysql

In [22]:
conn = pymysql.connect(
    host='localhost',
    port=3306,
    user='root',
    password='chenqiong',
    db='test')

### 获得cursor游标对象

In [23]:
cur1 = conn.cursor()

### 操作的行数

In [24]:
count = cur1.execute('select * from tb1;')
print(count)

19

### 获得一条查询结果

In [25]:
result = cur1.fetchone()
print(result)

(1, 'Tom')

### 获得所有查询结果

In [26]:
results = cur1.fetchall()
results

((2, 'Zhang'),
 (3, 'Li'),
 (4, 'Test_User_4'),
 (5, 'Test_User_5'),
 (6, 'Test_User_6'),
 (7, 'Test_User_7'),
 (8, 'Test_User_8'),
 (9, 'Test_User_9'),
 (10, 'Test_User_10'),
 (11, 'Test_User_11'),
 (12, 'Test_User_12'),
 (13, 'Test_User_13'),
 (14, 'Test_User_14'),
 (15, 'Test_User_15'),
 (16, 'Test_User_16'),
 (17, 'Test_User_17'),
 (18, 'Test_User_18'),
 (19, 'Test_User_19'))

In [27]:
cur1.close()

### 执行批量插入
### values = [(id,'testuser'+str(id)) for id in range(4, 21) ]
### cursor.executemany('INSERT INTO '+ TABLE_NAME +' values(%s,%s)' ,values)

In [28]:
cur2 = conn.cursor()

values = [('Test_User_'+str(id)) for id in range(21,30)]

cur2.executemany('INSERT INTO '+'tb1(name)'+' values(%s)', values)

conn.commit()

cur2.close()

In [29]:
cur3 = conn.cursor()
count = cur3.execute('select * from tb1;')
results = cur3.fetchall()
print(count)
print(results)

28
((1, 'Tom'), (2, 'Zhang'), (3, 'Li'), (4, 'Test_User_4'), (5, 'Test_User_5'), (6, 'Test_User_6'), (7, 'Test_User_7'), (8, 'Test_User_8'), (9, 'Test_User_9'), (10, 'Test_User_10'), (11, 'Test_User_11'), (12, 'Test_User_12'), (13, 'Test_User_13'), (14, 'Test_User_14'), (15, 'Test_User_15'), (16, 'Test_User_16'), (17, 'Test_User_17'), (18, 'Test_User_18'), (19, 'Test_User_19'), (20, 'Test_User_21'), (21, 'Test_User_22'), (22, 'Test_User_23'), (23, 'Test_User_24'), (24, 'Test_User_25'), (25, 'Test_User_26'), (26, 'Test_User_27'), (27, 'Test_User_28'), (28, 'Test_User_29'))

### 关闭链接

In [30]:
conn.close()