In [1]:
import pandas as pd

In [2]:
list = [{'a': 'dfha', 'b':78887},
        {'a': 'dkjfh', 'b':767}]
df = pd.DataFrame(list)
df

       a      b
0   dfha  78887
1  dkjfh    767

In [3]:
l = [{'position':'python', 'money': '25k-40k'},
     {'position': 'c++/python', 'money': '20k-40k·13薪'},
     {'position': 'python开发工程师', 'money': '15k-30k'}]

In [4]:
df = pd.DataFrame(l)
df

      position        money
0       python      25k-40k
1   c++/python  20k-40k·13薪
2  python开发工程师      15k-30k

In [5]:
money_mins = []
money_maxs = []
for one_record in df['money']:
    if '薪' in one_record:
        months = int(one_record.split('·')[1].strip('薪'))
        money_list = one_record.split('-')
        money_min = int(money_list[0].strip('k')) * (months / 12)
        money_max = int(money_list[1].split('·')[0].strip('k')) * (months / 12)
        money_mins.append(round(money_min, 1))
        money_maxs.append(round(money_max, 1))
    else:
        money_list = one_record.split('-')
        money_min = int(money_list[0].strip('k'))
        money_max = int(money_list[1].strip('k'))
        money_mins.append(money_min)
        money_maxs.append(money_max)
    print(money_mins, money_maxs)

[25] [40]
[25, 21.7] [40, 43.3]
[25, 21.7, 15] [40, 43.3, 30]

In [6]:
df['money_min'] = money_mins
df['money_max'] = money_maxs

In [7]:
df

      position        money  money_min  money_max
0       python      25k-40k       25.0       40.0
1   c++/python  20k-40k·13薪       21.7       43.3
2  python开发工程师      15k-30k       15.0       30.0

In [8]:
df['money_min'].mean()

20.566666666666666

In [12]:
money_min_mean = df['money_min'].mean()
money_max_mean = df['money_max'].mean()
result = {'guangzhou': {'money_min_mean': money_min_mean,
                    'money_max_mean': money_max_mean}}
result

{'guangzhou': {'money_min_mean': 20.566666666666666,
  'money_max_mean': 37.766666666666666}}

In [13]:
dict_list = [{'beijing': {'money_min_mean': 17.844, 'money_max_mean': 30.92533333333334}}, {'guangzhou': {'money_min_mean': 11.321212121212122, 'money_max_mean': 19.84090909090909}}, {'shanghai': {'money_min_mean': 15.27733333333333, 'money_max_mean': 27.104}}, {'shenzhen': {'money_min_mean': 13.715999999999998, 'money_max_mean': 23.43733333333333}}]

In [14]:
dict_list

[{'beijing': {'money_min_mean': 17.844, 'money_max_mean': 30.92533333333334}},
 {'guangzhou': {'money_min_mean': 11.321212121212122,
   'money_max_mean': 19.84090909090909}},
 {'shanghai': {'money_min_mean': 15.27733333333333, 'money_max_mean': 27.104}},
 {'shenzhen': {'money_min_mean': 13.715999999999998,
   'money_max_mean': 23.43733333333333}}]

In [17]:
df = pd.DataFrame(one[one.key] for one in dict_list], index=['beijing', 'shanghai', 'guangzhou', 'shenzhen'])
df

AttributeError: 'list' object has no attribute 'keys'

In [21]:
dict_list[0].keys()

dict_keys(['beijing'])

In [ ]:
for d in dict_list:
    d