In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame(['a', 'b', 'c', 'd'])
df

   0
0  a
1  b
2  c
3  d

In [5]:
df2 = pd.DataFrame([
    ['a', 'b'],

    ['c', 'd']
])
df2

   0  1
0  a  b
1  c  d

In [6]:
df2.index = ['A', 'B']
df2.columns = ['One', 'Two']
df2

  One Two
A   a   b
B   c   d

In [10]:
df2.index.tolist()

['A', 'B']

In [9]:
df2.columns.tolist()

['One', 'Two']

In [13]:
df2.values

array([['a', 'b'],
       ['c', 'd']], dtype=object)