In [1]:
import pandas as  pd
import numpy as np

### Series的处理

In [2]:
x = pd.Series([ 1, 2, np.nan, 3, 4, 5, 6, np.nan, 8])
x

0    1.0
1    2.0
2    NaN
3    3.0
4    4.0
5    5.0
6    6.0
7    NaN
8    8.0
dtype: float64

In [4]:
x.hasnans

True

In [5]:
x.ffill()

0    1.0
1    2.0
2    2.0
3    3.0
4    4.0
5    5.0
6    6.0
7    6.0
8    8.0
dtype: float64

In [7]:
x.fillna(x.mean())

0    1.000000
1    2.000000
2    4.142857
3    3.000000
4    4.000000
5    5.000000
6    6.000000
7    4.142857
8    8.000000
dtype: float64

### DataFrame对象的处理

In [8]:
df=pd.DataFrame({"A":[5,3,None,4], 
                 "B":[None,2,4,3], 
                 "C":[4,3,8,5], 
                 "D":[5,4,2,None]}) 
df

     A    B  C    D
0  5.0  NaN  4  5.0
1  3.0  2.0  3  4.0
2  NaN  4.0  8  2.0
3  4.0  3.0  5  NaN

In [11]:
df.isnull().sum()

A    1
B    1
C    0
D    1
dtype: int64

In [12]:
# 用上一行填充
df.ffill()

     A    B  C    D
0  5.0  NaN  4  5.0
1  3.0  2.0  3  4.0
2  3.0  4.0  8  2.0
3  4.0  3.0  5  2.0

In [15]:
# 用前一列填充
df.ffill(axis=1)

     A    B    C    D
0  5.0  5.0  4.0  5.0
1  3.0  2.0  3.0  4.0
2  NaN  4.0  8.0  2.0
3  4.0  3.0  5.0  5.0

In [16]:
df.dropna()

     A    B  C    D
1  3.0  2.0  3  4.0

In [18]:
df.fillna('无')

   A  B  C  D
0  5  无  4  5
1  3  2  3  4
2  无  4  8  2
3  4  3  5  无

In [20]:
# 重复值处理
df.drop_duplicates()

     A    B  C    D
0  5.0  NaN  4  5.0
1  3.0  2.0  3  4.0
2  NaN  4.0  8  2.0
3  4.0  3.0  5  NaN

In [21]:
df

     A    B  C    D
0  5.0  NaN  4  5.0
1  3.0  2.0  3  4.0
2  NaN  4.0  8  2.0
3  4.0  3.0  5  NaN