In [1]:
import pandas as pd

In [11]:
df = pd.DataFrame({"A":[5,3,None,4], 
                 "B":[None,2,4,3], 
                 "C":[4,3,8,5], 
                 "D":[5,4,2,None]}) 
df

     A    B  C    D
0  5.0  NaN  4  5.0
1  3.0  2.0  3  4.0
2  NaN  4.0  8  2.0
3  4.0  3.0  5  NaN

In [4]:
df['C'] + df['B']

0     NaN
1     5.0
2    12.0
3     8.0
dtype: float64

In [5]:
df['B'] + 5

0    NaN
1    7.0
2    9.0
3    8.0
Name: B, dtype: float64

In [6]:
df['A'] > 3

0     True
1    False
2    False
3     True
Name: A, dtype: bool

In [7]:
df[df['A'] > 3]

     A    B  C    D
0  5.0  NaN  4  5.0
3  4.0  3.0  5  NaN

In [8]:
df.count()

A    3
B    3
C    4
D    3
dtype: int64

In [12]:
df.sum(axis=0)

A    12.0
B     9.0
C    20.0
D    11.0
dtype: float64

In [13]:
df.sum(axis=1)

0    14.0
1    12.0
2    14.0
3    12.0
dtype: float64

In [14]:
df['A'].sum()

12.0

In [16]:
df.mean()

A    4.000000
B    3.000000
C    5.000000
D    3.666667
dtype: float64

In [17]:
df.var()

A    1.000000
B    1.000000
C    4.666667
D    2.333333
dtype: float64

In [18]:
df.std()

A    1.000000
B    1.000000
C    2.160247
D    1.527525
dtype: float64